<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Find me something todo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
  <link href="https://unpkg.com/nes.css@2.3.0/css/nes.min.css" rel="stylesheet" />
  <link href='https://fonts.googleapis.com/css?family=Press Start 2P' rel='stylesheet'>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
</head>
<style>
    @import url('https://fonts.googleapis.com/css2?family=Exo&display=swap');

    body, header {
        background-color: rgb(22, 71, 130);
        fill: white;
        color: white;
        font-family: 'Press Start 2P', sans-serif;
    }

    #aboutTeam,
    #goals {
        width: 75%;
        margin: auto;
        margin-top: 20px;
    }

    .image {
        width: 37%;
        margin-left: 1.5em;
    }

    .images {
        margin-bottom: 2em;
        margin-top: 2em;
    }

    .person_image img {
        width: 50%;
        border-radius: 50%;
    }

    .cards {
        width: 100%;
        flex-wrap: wrap;
    }

    .card {
        display: inline-block;
        margin-bottom: 1rem;
    }

    .main-container {
      margin-bottom: 5rem;
      padding-top:20vh;

    }

   
    .nes-container.is-dark {
      width:60vw;
      margin: auto;
      margin-top:30px
    }
  
</style>
<header>
  <nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nes-btn is-error" href="/">Home</a>
        <a class="nes-btn is-dark" href="/bored">Bored</a>
        <a class="nes-btn is-warning" href="/about">About</a>
        <a class="nes-btn is-success" href="/team">Team</a>
      </div>
      </div>
    </div>
  </nav>
</header>
<body>
    <div class="container text-center mt-5 main-container">
        
      <form action="/bored">
        <input type="submit" name="submit" class="nes-btn" value="I'm Bored"/>
        <input type="submit" name="submit" class="nes-btn" value="We're Bored"/>
      </form>
        <hr />

        <div class="nes-container is-dark with-title">
          <p class="title">You can...</p>
            <% if (activity === null) { %>
              <p>click on the button to find something fun todo</p>
            <% } else { %>
              <p> <%= activity.activity %> </p><br>
            <% } %>
        </div>
    </div>

    

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
        crossorigin="anonymous"></script>
</body>

</html>